/*
Colors used:
Background: #dcdee0 (to understanding boxes easy)
Base Color (Dark Blue): #10375f;
Primary Color (Indigo): #2652a3;
Secondary Color (Light Blue): #1da3d5;
Tertiary Color #769aad;
Link color #aecfe0;

*/


header {
  background-color: #ffffff;
  padding-top: 10px;
padding-right: 5px;
padding-bottom: 15px;
padding-left: 5px;
text-align: center;
  border-bottom: 3px solid #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #10375f;

}
.logo {
  max-width: 150px;
  text-align: left;

}

img {
  width: 100%;
}

.navtoggle.responsive {
  position: relative;
}

.navtoggle {
display: inline-block;
text-align: right;

}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  /*border-top: 1px solid rgba(255,127,80,0.5);*/
}
/*
.navtoggle.responsive ul  {

  height: 300px;
  width: 100px
}
*/
.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li:not(:last-child) {
  display: block;
}


nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

nav > ul > li {
  display: inline-block;
  width: 100%

}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #aecfe0;
}

nav > ul > li > a:hover {
  text-decoration: underline;
}

nav > ul > li > a:active {
  text-decoration-line: line-through;
}


.selector {
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  position: relative;
  float: right;
width: 1200px;


}
* {
  box-sizing: border-box;
    padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#hero h1 {
  text-align: center; /* Centers text */
}

#hero {
  background-color: #FFFFFF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}


Main {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #10375f;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

Footer {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #10375f;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.35em;
  font-weight: 400;
}
h4 {
  font-size: 1.00em;
  font-weight: 400;
}


a {
  color: #aecfe0;
  text-decoration: none;
}
a:hover {
  color: #aecfe0;
  text-decoration: underline;
}

a:visited {
  color: #769aad;
}
a:active {
  color: #769aad;
}

.button {
  display: inline-block;
  background-color: #aecfe0;
  color: white !important;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #769aad;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.button:hover {
  opacity: 0.6;
    text-decoration: none;
}

.button.mail {
  background-color: transparent;
  color: #aecfe0 !important;
  text-transform: uppercase;
  border: 2px solid #aecfe0;
}
.button.mail:hover {
  background-color: #aecfe0;
  color: #ffffff !important;
}

.button.readmore {
  background-color: transparent;
  color: #aecfe0 !important;
  text-transform: uppercase;
  border: 2px solid #aecfe0;
}
.button.readmore:hover {
  background-color: #aecfe0;
  color: #ffffff !important;
}

.button.myCV {
  background-color: transparent;
  color: #aecfe0 !important;
  text-transform: uppercase;
  border: 2px solid #aecfe0;
}
.button.myCV:hover {
  background-color: #aecfe0;
  color: #ffffff !important;
}

.social.media {
  display: inline-block;
}

/*SVG Animation */

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}



.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}



/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {


header {
    display: inline-block;
    width: 100%;

  }
nav {
  width: auto;
  float: right;
  margin-top: 4px;
  display: inline-block;

}

nav > ul {
  margin: 1em 0;
}

#hero {
  text-align: center;
  display: block;
}

.logo {
  max-width: 400px;

}


.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

.col-lg-7 {
  width: 60%;
}

.col-lg-5 {
  width: 40%;
}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
